.jumbotron {
	background-color: red;
	color: white;
	margin-top:50px;
	height: 160px
}

footer {
	padding: 10px 10px 0 10px;
	background-color:black;
	color: white;
	margin-bottom: 0px;
	margin-top: 30px;
}

.card-hotel {
	flex: 1 300px;
	margin-top: 10px;

}

.btn-reserva {
	width: 100%;
	border-radius: 0px;
}

.footer-address-icon {
	padding-right: 10px;
}

.img-edited {
  margin-top:-20px;
  max-width: 10%;
  height: auto;
}


h1 {
	margin-top:-20px;
	font-size: 70px;
	margin-left: 0px;
}

@media screen and (max-width: 360px) {
  h1 {
    font-size: 30px;
    line-height: 80%;
    margin-top: 10px;
  }
  .img-responsive {
    width: 100%;
    max-width: 100px
  }
}
.card {
	margin-top: 5px;

}

.resized-badge{
	font-size: 0.5em;
	margin-top: 0%;
}

.progress{
	margin-top: 5px; 
}

.row {
	margin-top: 10px; 
}

#mapid {
	height: 600px;
  }
  


