$yellow: #c9c608;
$red: #ff0000;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

.jumbotron {
	background-color: $red;
	color: white;
	height: 160px;
	@include margenes(50px, 0px);
}

footer {
	padding: 10px 10px 0 10px;
	background-color:black;
	color: white;
	@include margenes(30px,0px);
	
}

.card-hotel {
	flex: 1 300px;
	margin-top: 10px;

}

.btn-reserva {
	width: 100%;
	border-radius: 0px;
}

.footer-address-icon {
	padding-right: 10px;
}

.img-edited {
  margin-top:-20px;
  max-width: 10%;
  height: auto;
}


h1 {
	margin-top:-20px;
	font-size: 70px;
	margin-left: 0px;
}

@media screen and (max-width: 360px) {
  h1 {
    font-size: 30px;
    line-height: 80%;
    @include margenes(10px,0px);
  }

  .img-responsive {
    width: 100%;
    max-width: 100px
  }
}
.card {
	@include margenes(5px,0px);

}

.resized-badge{
	font-size: 0.5em;
	margin-top: 0%;
}

.progress{
	@include margenes(5px,0px);
}

.row {
	@include margenes(5px,0px);
}
